/* @import url(https://fonts.googleapis.com/css?family=Roboto); */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, button, input, select, textarea{
    font-family:"Noto Sans TC", "微軟正黑體", Arial, sans-serif;
}
a{text-decoration:none}
/* 控制泡泡最大寬度 */
.popup-container .popup{
    width: 80%;
    max-width: 400px;
}
/* 控制整體最大寬度 */
.maxWidth{
    max-width: 768px;
    margin: 0 auto;
}
.card{
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
    margin: 10px 10px 20px 10px;
}
.button.button-chanry1{
    background-color: #1284b8;
    color: #fff;
}
.button.button-chanry2{
    background-color: #0D5B80;
    color: #fff;
}
.item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p, .item-divider{
    white-space: normal;
}
.item-radio .item-content {
    padding-right: 40px;
}
/* -----------------------------------------------登入頁面----------------------------------------------- */
.login_LOGO{
    display: block;
    width: 60vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px) { 
    .login_LOGO{ width: 460.8px;}
}
.page4-label{
    background-color: rgba(0, 0, 0, 0);
    border-top:0px;
    border-left:0px;
    border-right:0px;
}
.login_text,#page4-label1 input,#page4-label2 input{
    color: #fff;
    font-size: 14px;
    padding-bottom: 0px;
}
.loginSmtBtn{
    color:rgb(7, 131, 108);
    border-radius:15px;
}
#FPW{
    font-size:12px;
    color:white;
    margin-top:-15px;
}

/* -----------------------------------------------選擇課程頁面----------------------------------------------- */
.class_block{
    display: inline-block;
    position: relative;
    width: 40vw;
    height: 40vw;
    opacity: 0.9;
    margin: 3vw;
    border-radius: 2vw;
    background-image: url(/img/Rectangle\ 5.png);
    background-size: 100% 100%;
    box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -moz-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
}
.class_blockLock::after{
    content: "LOCK";
    font-size: 10vw;
    line-height: 15vw;
    color: white;
    text-align: center;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    opacity: 0.6;
    z-index: 8;
    background-color: #0D5B80;
}
.button-text{
    color: #ffffff;
    font-size: 5vw;
    line-height: 40vw;
    text-align: center;
}
@media screen and (min-width: 768px) { 
    .class_block{ width: 307.2px; height: 307.2px; }
    .button-text{ font-size: 38.4px; line-height: 307px;}
    .class_blockLock::after{font-size: 76.8px; line-height: 115.2px;}
}

/* -----------------------------------------------首頁頁面----------------------------------------------- */
/* 組員 */
.pbl-member{
    display: inline-block;
    position: relative;
    width: 24vw;
    text-align: center;
    margin-top: 10px;
}
/* 組長圖示 */
.pbl-leader:after{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 1vw;
    width: 8vw;
    height: 8vw;
    z-index: 2;
    background: url(../svg/medal.svg);
}
/* 大頭照 */
.pbl-img-div{
    display: inline-block;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border:3px solid #fff;
    margin: 0 2vw 0 2vw;
    box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -moz-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    overflow: hidden; 
}
#pbl-img{
    display: block; 
    background-size:cover;
    background-position:center center;
    height: 100%;
}
/* 姓名部分 */
.pbl-member-span{
    color: #ffffff;
    font-size: 4vw;
    line-height: 6vw;
    width: 20vw;
    margin: 0 auto;
}
@media screen and (min-width: 768px) { 
    .pbl-img-div{ width: 153.6px; height: 153.6px; margin: 0 15.36px 0 15.36px;}
    .pbl-member{ width: 184.32px; }
    .pbl-member-span{ font-size: 30.72px; line-height: 46.08px; width: 153.6px;}
    .pbl-leader:after{ left: 7.68px;width: 61.44px;height: 61.44px; }
}
/* 邀請泡泡圖片 */
.inviteImg{
    width: 100%;
}
/* 小組按鈕 */
.pbl-button{
    position: fixed;
    bottom: 0px;
}
.button.button-block, .button.button-full{
    margin: 0px;
}

/* -----------------------------------------------留言版頁面----------------------------------------------- */
/* 溫馨提醒 */
.alertMessage{
    top: 44px;
    display: block;
    position: relative;
    z-index: 2;
    background-color: #f8f8f8;
    color: rgba(0, 0, 0, 0.548);
    text-align: center;
    line-height: 30px;
}
/* 對話框 */
.itemMessage{
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    padding: 0px 0px 0px 50px;
    min-height: auto;
}
/* 大頭照 */
#imgMessage{
    top: 0px;
    left: 0px;
}

/* -----------------------------------------------課程任務頁面----------------------------------------------- */
/* 任務類別 */
.MissionType1, .MissionType2, .MissionType3, .MissionType4, .MissionType5{
    color: #FFFFFF;
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    line-height: 30px;
}
.MissionType1{
    background-color: #f04141;
}
.MissionType2{
    background-color: #10dc60;
}
.MissionType3{
    background-color: #7044ff;
}
.MissionType4{
    background-color: #ffce00;
}
.MissionType5{
    background-color: #0084ff;
}
/* 繳交期限 */
.timeOutSpan{
    position: absolute;
    right: 0px;
    line-height: 28px;
    width: 130px;
    opacity: 0.6;
}
.timeOut{
    position: absolute;
    top: 2px;
    left: -34px;
    width: 26px;
    height: 26px;
    background: url(../svg/timeOut.svg);
}
/* 點數 */
.missionPointSpan{
    position: absolute;
    top: 14px;
    right: 0px;
    line-height: 20px;
    width: 40px;
    opacity: 0.7;
}
.missionPoint{
    position: absolute;
    top: -2px;
    left: -28px;
    width: 26px;
    height: 26px;
    background: url(../svg/point.svg);
}
/* 小任務padding */
.item.item_padding0{
    padding: 0px 16px 0px 16px;
}
.item.item_paddingRight{
    padding-right: 73px;
}
/* 鎖住小任務 */
.SmallTaskLock::after {
    content: "FINISHED";
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 50px;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    opacity: 0.5;
    background-color: #10dc60;
    border-radius: 10px;
}
/* 鎖住任務 */
.missionLock1::after,.missionLock2::after,.missionLock3::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    opacity: 0.8;
    background-color: #0D5B80;
}
.missionLock1::before,.missionLock2::before,.missionLock3::before{
    content: "";
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 130px;
    height: 65px;
    z-index: 9;
}
.missionLock1::before{
    background: url(../svg/complete.svg);
}
.missionLock2::before{
    background: url(../svg/remind.svg);
}
.missionLock3::before{
    background: url(../svg/expired.svg);
}
/* 查看更多按鈕 */
.button-margin{
    margin: 10px 0px 0px 0px;
}

/* -----------------------------------------------IRS頁面----------------------------------------------- */
/* 等待開啟文字 */
.testStart, .testOver{
    width: 100%;
    
    text-align: center;
    line-height: 6vh;

    font-size: 10vw;
    color: white;
}
.testStart{
    padding-top: 30vh;
}
.testOver{
    padding-top: 28vh;
}
.testOverSpan{
    font-size: 5vw;
}
@media screen and (min-width: 768px) { 
    .testStart,.testOver{ line-height:46.08px; font-size:76.8px;}
    .testStart{ padding-top:230.4px; }
    .testOver{ padding-top:215.04px; }
    .testOverSpan{ font-size: 38.4px; }
}
/* 進度條 */
.progress {
    width: 60%;

    padding: 4px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.progress-bar {
    height: 27px;
    border-radius: 4px;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);

    width: 2%;
    background-color: #1284b8;
}
/* 剩餘時間文字 */
.RemainingTime{
    margin: 0 auto;
    line-height: 30px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.548);
}

/* -----------------------------------------------腦力激盪頁面----------------------------------------------- */
.tab-item{
    font-size: 25px;
}
/* 清空按鈕 */
.deleteBtn{
    display: inline-block;
    position: fixed;
    top: 0px;
    right: 2px;
    width: 30px;
    height: 30px;
    z-index: 2;
    background: url(../svg/delete.svg);
}
/* alert */
/* .brainstorming_alert{
    position: absolute;
    top:45vh;
    left:50vw;
    transform: translate(-50%,-50%);
    width: 80vw;
    text-align: center;
    font-size: 10vw;
    color: #fff;
} */
/* 清空按鈕 */
.brainstorming_DelAllBtn,.brainstorming_DelAllBtn:hover{
    position: fixed;
    bottom: 45px;
    display: block;
    height: 10px;
    background-color: #0D5B80;
    color: #fff;
    border-radius: 0px;
}
/* 對話框 */
.list-inset{
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 20px;
}
#brainstorming_item{
    border-radius: 20px;
    padding: 8px;
    padding-left: 13px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.379);
}
.brainstorming_h2{
    padding-right: 20px;
}
/* 按讚圖示 */
.likeBtnOn{
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    z-index: 2;
    background: url(../svg/likeOn.svg);
    opacity: 0.6;
}
.likeBtnOff{
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
    z-index: 2;
    background: url(../svg/likeOff.svg);
    opacity: 0.5;
}
/* 文字輸入框 */
.brainstorming_input{
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

/* -----------------------------------------------提案聚焦頁面----------------------------------------------- */
.AddBall{
    text-align: center;
    line-height: 60px;
    font-size: 40px;
    color: #fff;

    position: fixed;
    background-color: #1284b8;

    z-index: 30;
    right: 10px;
    bottom: 10px;

    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.list-footer{
    position: fixed;
    bottom: 20px;
    z-index: 20;
}
/* 刪除提案圖示 */
.right{
    display:inline-block;
    float: right;
    text-align: right;
    position: relative;
    right: -8px;
    width:35% ;
}
.proposal_DelProposalBtn,.proposal_AddProposalBtn,.proposal_bellProposalBtn,.proposal_DelBrainstormingBtn{
    display: inline-block;
    width: 25px;
    height: 25px;
    z-index: 2;
    margin: 0 2px 0 2px;
    opacity: 0.7;
}
.proposal_DelProposalBtn{
    background: url(../svg/delete.svg);
}
.proposal_AddProposalBtn{
    background: url(../svg/add.svg);
}
.proposal_bellProposalBtn{
    background: url(../svg/bell.svg);
    margin: 0 5px 0 5px;
}
/* 鈴鐺的提醒紅點 */
.bellBadge::before{
    content: "";
    display: block;
    position: relative;
    top: 0px;
    left: 20px;
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: rgb(255, 0, 0);
}
/* 刪除腦力激盪圖示 */
.proposal_DelBrainstormingBtn{
    position: absolute;
    top: 11px;
    right: 5px;
    background: url(../svg/cancel.svg);
}
/* 提案卡片 */
.proposal_card{
    opacity: 0.9;
}
/* 提案內腦力激盪 */
.proposal_item{
    padding: 13px 30px 13px 13px;
}
/* 提議的投票 */
.vote{
    background-color: rgb(163, 245, 184);
    line-height: 0px;
}
.voteN{
    content: "";
    background-color: rgb(245, 163, 163);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    text-align: right
}
/* 贊成反對文字 */
.votespan{
    position: absolute;
    color: #0D5B80;
}
/* 控制OX按鈕高度 */
.VoteHeight{
    height: 70px;
}
/* 贊成反對按鈕 */
.voteNbtn,.voteYbtn,.voteChooseN,.voteChooseY{
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.7;
}
.voteNbtn{
    background: url(../svg/voteN_F.svg);
    width: 40px;
    height: 40px;
}
.voteYbtn{
    background: url(../svg/voteY_F.svg);
    width: 40px;
    height: 40px;
}
/* 選擇狀態 */
/* .voteChooseN,.voteChooseY{
    background-color: #c0ebff;
    border-radius: 35px;
} */
.voteChooseN{
    background: url(../svg/voteN.svg);
}
.voteChooseY{
    background: url(../svg/voteY.svg);
}
/* -----------------------------------------------投票頁面----------------------------------------------- */
/* 標記結案 */
.complete{
    position: absolute;
    right: 10px;
    line-height: 28px;
    opacity: 0.6;
}

/* -----------------------------------------------選單頁面----------------------------------------------- */
/* 大頭照 */
.menu-img-div{
    display: block;
    text-align: center;
    width: 140px;
    height:140px;
    border-radius: 50%;
    border:4px solid #fff;
    margin: 0 auto;
    box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -moz-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    overflow: hidden; 
}
#menu-img{
    display: block; 
    background-size:cover;
    background-position:center center;
    height: 100%;
}
/* 點數顯示 */
.pointDiv{
    text-align: center;
    font-size: 20px;
    padding: 0;
    color: #fff;
}
.point{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    top: 5.5px;
    margin-right: 5px;
    opacity: 0.8;
    background: url(../svg/point.svg);
}
.pointSpan{
    display: inline-block;
    position: relative;
    top: -3px;
    margin: 0px 0px 0px 8px;
    padding: 1px 8px;

    font-size: 14px;
    font-weight: bold;
    
    border: 2px solid #fff;
    border-radius: 20px;
}
/* 列表按鈕 */
#menu-list-item1 a,#menu-list-item2 a,#menu-list-item3 a,#menu-list-item4 a,#menu-list-item5 a,#menu-list-item6 a,#menu-list-item7 a,#menu-list-item8 a{
    background-color: rgba(255, 255, 255, 0.281);
    font-size: 24px;
    font-weight:bold;
    text-align: center;
    padding: 8px;
    color: #ffffff;
}
.menu-list-item{
    background-color: rgba(255, 255, 255, 0);
}
/* 授權文字 */
#menu-heading2{
    position: fixed;
    bottom: 0px;
    left:137.5px;
    transform: translate(-50%);
    color:#FFFFFF;
    font-weight:400;
    text-align:center;
}

/* -----------------------------------------------設定頁面----------------------------------------------- */
img-crop{
    width:100%;
    height:100%;
    display:block;
    position:relative;
    overflow:hidden
}
img-crop canvas{
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    outline:0;
    -webkit-tap-highlight-color:transparent
}
/* 上傳大頭照 - 裁切區域 */
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:200px;
}

/* -----------------------------------------------關於我們頁面----------------------------------------------- */
/* 成員大頭照 */
.imgradius{
    border-radius: 20%;
    box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -moz-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
    -webkit-box-shadow: 6px 6px 12px -2px rgba(20%,20%,40%,0.5);
}
/* -----------------------------------------------教師版分組狀態頁面----------------------------------------------- */
/* 環形圖 */
#container{
    display: block;
    position: relative;
    left:50%;
    transform: translate(-50%);
}