<ion-view title="課程任務" id="root_mission">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">
    
    <label class="item item-input item-select">
      <div class="input-label">
        選擇課程
      </div>
      <select ng-model="selectClass" ng-change="hide()" ng-options="Class.ClassName for Class in AllClass"></select>
    </label>
    <div class="item">
      <button class="button button-block button-chanry2" ng-click="SelectBtn(selectClass)">載入</button>
    </div>

    <div ng-show="cardShow" class="card">
      <div class="item item-divider">
        【{{selectClass.ClassName}}】新增任務：
      </div>
      <div class="item item-text-wrap">
        <button class="button button-block button-chanry1" ng-click="AddBtn(selectClass)">新增</button>
      </div>
    </div>

    <div ng-show="cardShow" ng-repeat="mission in missions" class="card">
      <div class="item item-divider">
        <span class="MissionType1">{{mission.type}}</span>：{{mission.Name}}
      </div>
      <div class="item item-text-wrap">
        <p>上課成果的小測驗，請憑直覺填寫 下課前繳交</p>
        <div ng-bind-html="mission.HTML"></div>
        <button class="button button-small button-chanry1" ng-click="">查看更多</button>
      </div>
    </div>

  </ion-content>
</ion-view>