<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;background: url(img/002.jpg) no-repeat center;background-size:cover;" scroll="false" class="side-menu-left ">
      <div class="spacer" style="height: 30px;"></div>
      <!-- 這裡要加一個圓框的CSS -->
      <div class="menu-img-div">
        <img id="menu-img">
      </div>
      <div class="spacer" style="height: 10px;"></div>
      <h4 id="menu-heading1" style="color:#FFFFFF;text-align:center;font-family:'微軟正黑體';font-weight:bold;">{使用者暱稱}</h4>
      <div class="spacer" style="height: 20px;"></div>
      <ion-list id="menu-list1">
        <ion-item id="menu-list-item1" class="menu-list-item" ui-sref="rootmenu.root_pbl()" menu-close="">首頁</ion-item>
        <ion-item id="menu-list-item1" class="menu-list-item" ui-sref="rootmenu.root_group()" menu-close="">分組狀態</ion-item>
        <ion-item id="menu-list-item1" class="menu-list-item" ui-sref="rootmenu.root_mission()" menu-close="">課程任務</ion-item>
        <ion-item id="menu-list-item1" class="menu-list-item" ui-sref="rootmenu.root_point()" menu-close="">點數管理</ion-item>
        <ion-item id="menu-list-item8" class="menu-list-item" ui-sref="login()" menu-close="">登出</ion-item>
      </ion-list>
      <div class="spacer" style="height: 10px;"></div>
      <h5 id="menu-heading2"></h5>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>