<ion-view title="教師版首頁" hide-back-button="true" id="root_pbl">
  <ion-content padding="false" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header" scroll="true">
    
    <div class="card">
      <div class="item item-divider">
        教師用後台：
      </div>
      <div class="item item-text-wrap" id="co-writing_content">
        功能待補...
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">創立課程：</div>
      <div class="list list-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">課程名稱：</span>
          <input ng-model="className" type="text" placeholder="ex:107-1專案管理(甲)">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">修課名單(xlsx)：</span><br>
          <input type="file" id="excel-file">
        </label>
      </div>
      <div class="item">
        <button id="page7_savebtn3" class="button button-block button-chanry1" ng-click="addClass()">創立</button>
      </div>
    </div>

    <div class="card" ng-repeat="Class in AllClass">
      <div class="item item-divider">
        【{{Class.ClassName}}】設定：
      </div>
      <ion-toggle ng-model="Class.inviteLock" ng-checked="Class.inviteLock" ng-change="LockGroupChange(Class.ClassID,Class.inviteLock)">開放學生自行分組</ion-toggle>
      <label class="item item-input">
        <div class="input-label">
          小組人數上限
        </div>
        <input type="number" ng-model="Class.maxMembers" ng-change="maxMembersChange(Class.ClassID,Class.maxMembers)">
      </label>
    </div>
    

  </ion-content>
</ion-view>