<ion-view title="腦力激盪" hide-back-button="true" id="brainstorming" >
  <ion-content padding="false" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header" scroll="true">
    <!-- main -->
    <div id="brainstorming_list" class="list list-inset" ng-repeat="item in items">
      <div id="brainstorming_item" class="item">
        <!-- <h2>{{item.name}}</h2> -->
        <!-- <p>{{item.msg}}</p> -->
        <!-- <h2>{{item.msg}}<i class="icon ion-minus-circled" ng-click="Delete(item)"></i><i class="icon ion-android-favorite-outline"></i></h2> -->
        <h2>{{item.msg}}<i ng-class="{true: 'likeBtnOn', false: 'likeBtnOff'}[{{item.likeBtn}}]" ng-click="like(item)"></i></h2>
      </div>
    </div>
  </ion-content>

  <!-- 文字輸入 -->
  <ion-footer-bar class="bar bar-footer">
    <label class="item-input-wrapper">
      <input class="brainstorming_input" ng-keydown="$event.keyCode === 13 && add()" ng-model="input" type="text" placeholder="輸入想法（限15字內）..." maxlength="15">
    </label>
    <button class="button button-small" ng-click="add()">送出</button>
  </ion-footer-bar>
</ion-view>