<ion-view title="分組" id="group">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">
    <div class="list">
      <div class="item item-divider">
        第{gno}小組：
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member2.jpg">
        <h2>楊季庭 - YANG, JI TING</h2>
        <p>rovident optio<br>  consecteturadipisicing elit. <br> Alias provident optio nisi accusamus, ullam corporis totam. Optio voluptate eos vitae, quod deleniti velit quo omnis autem reprehenderit, accusamus ad totam.</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member3.jpg">
        <h2>謝庭偉 - HSIEH, TING WEI</h2>
        <p>rovident optio<br>  consecteturadipisicing elit. <br> Alias provident optio nisi accusamus, ullam corporis totam. Optio voluptate eos vitae, quod deleniti velit quo omnis autem reprehenderit, accusamus ad totam.</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member1.jpg">
        <h2>廖詮睿 - LIAO, QUAN RUI</h2>
        <p>rovident optio<br>  consecteturadipisicing elit. <br> Alias provident optio nisi accusamus, ullam corporis totam. Optio voluptate eos vitae, quod deleniti velit quo omnis autem reprehenderit, accusamus ad totam.</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member4.jpg">
        <h2>張莉軒 - ZHANG, LI XUAN</h2>
        <p>rovident optio<br>  consecteturadipisicing elit. <br> Alias provident optio nisi accusamus, ullam corporis totam. Optio voluptate eos vitae, quod deleniti velit quo omnis autem reprehenderit, accusamus ad totam.</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member5.jpg">
        <h2>李世偉 - LI, SHI WEI</h2>
        <p>rovident optio<br>  consecteturadipisicing elit. <br> Alias provident optio nisi accusamus, ullam corporis totam. Optio voluptate eos vitae, quod deleniti velit quo omnis autem reprehenderit, accusamus ad totam.</p>
      </div>
    </div>
  </ion-content>
</ion-view>