<ion-view title="分組" id="group">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">
    <div class="list">
      <div class="item item-avatar">
        <img style="border-radius: 0%;" src="img/Derine_LOGO.jpg">
        <h2>Derine 開發團隊</h2>
        <p>個人化旅遊資訊智慧推薦助理 2017</p>
      </div>
      <div class="item item-body">
        <p>
          我們的團隊，
          將人工智慧結合自然語言，
          和大數據推薦技術，
          開發出能夠推薦旅遊資訊的個人化助理
          Derine。
          使用者可以用對話的方式，
          詢問Derine各種旅遊相關問題，
          他會先運用中文斷詞來進行語意分析，
          並透過詞彙與情境資料庫理解問題。</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member2.jpg">
        <h2>楊季庭 - YANG, JI TING</h2>
        <p>專案經理/美工<br>協調與帶領團隊合作<br>各式美宣品製作</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member3.jpg">
        <h2>謝庭偉 - HSIEH, TING WEI</h2>
        <p>語意分析管理/文書處理<br>創建會話情境與資料庫建置<br>文書相關撰寫與管理</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member1.jpg">
        <h2>廖詮睿 - LIAO, QUAN RUI</h2>
        <p>前端工程/影片製作<br>前端功能操作與後端銜接<br>專題影片製作</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member4.jpg">
        <h2>張莉軒 - ZHANG, LI XUAN</h2>
        <p>美術總監<br>各式美宣品製作<br>海報製作、及各式美宣物品</p>
      </div>
      <div class="item item-thumbnail-left">
        <img class="imgradius" src="img/member/member5.jpg">
        <h2>李世偉 - LI, SHI WEI</h2>
        <p>後端工程<br>  consecteturadipisicing elit. <br> Alias provident optio nisi accusamus, ullam corporis totam. Optio voluptate eos vitae, quod deleniti velit quo omnis autem reprehenderit, accusamus ad totam.</p>
      </div>
    </div>
  </ion-content>
</ion-view>