<ion-view title="IRS" id="irs">

  <div class="alertMessage">
    <span style="font-size: 18px;">測驗名稱：{{test.Name}}</span><br>
    <span>測驗說明：{{test.Content}}</span><br>
  </div>

  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header"><div class="maxWidth">
    
    <div class="spacer" style="height: 80px;"></div>

    <div class="testStart" ng-if="!testStart">等待老師開啟測驗</div>
    <div class="testOver" ng-if="!testOver">
      測驗結束<br>
      <span class="testOverSpan">
        您的分數是：{{test.Grade}}<br>
        資料已上傳雲端
      </span>
    </div>

    <div ng-repeat="question in questions | filter:search" ng-if="!testContent" class="card">
      <div class="item item-divider">
        {{search.substr(11)}}.{{question.question}}
      </div>
      <ion-list>
        <ion-radio type="radio" ng-value="1" ng-model="$parent.answer[question.indexReal]" ng-click="answerChange($parent.answer)">(A) {{question.optionA}}</ion-radio>
        <ion-radio type="radio" ng-value="2" ng-model="$parent.answer[question.indexReal]" ng-click="answerChange($parent.answer)">(B) {{question.optionB}}</ion-radio>
        <ion-radio type="radio" ng-value="3" ng-model="$parent.answer[question.indexReal]" ng-click="answerChange($parent.answer)">(C) {{question.optionC}}</ion-radio>
        <ion-radio type="radio" ng-value="4" ng-model="$parent.answer[question.indexReal]" ng-click="answerChange($parent.answer)">(D) {{question.optionD}}</ion-radio>
        <p>已選擇：{{$parent.answer[question.indexReal]}}</p>
      </ion-list>
    </div>

    <div ng-if="pageUpDownShow" class="card">
      <div class="item item-text-wrap row">
        <a class="button button-block button-chanry1 col" ng-if="pageUpShow" ng-click="pageUp(true)">上一題</a>
        <a class="button button-block button-chanry2 col" ng-if="pageDownShow" ng-click="pageUp(false)">下一題</a>
        <a class="button button-block button-chanry2 col" ng-if="FinishBtnShow" ng-click="testFinishBtn()">完成送出</a>
      </div>
    </div>

    <!-- <div class="card">
      <div class="item item-divider">
        2.哪幾天翹課天翹課天翹課天翹課天翹課天翹課天翹課天翹課天翹課天翹課天翹課?
      </div>
      <ion-list>
        <ion-checkbox ng-model="filter.A">9/18</ion-checkbox>
        <ion-checkbox ng-model="filter.B">9/19</ion-checkbox>
        <ion-checkbox ng-model="filter.C">9/20</ion-checkbox>
      </ion-list>
    </div> -->
  
  </div></ion-content>

  <ion-footer-bar class="bar bar-footer">
    <div class="progress">
      <div class="progress-bar" style="width:{{answerAry.length / 6 * 100}}%"></div>
    </div>
    <div class="RemainingTime">剩餘：{{distance}}</div>
  </ion-footer-bar>

</ion-view>