<ion-view title="登入" hide-nav-bar="true" id="login">
  <ion-content style="background: url(img/002.jpg) no-repeat center;background-size:cover;padding:60px; " class="manual-ios-statusbar-padding" scroll="false">
    <form id="page4-form1" class="list">
      <div class="spacer" style="height: 30px;"></div>
      <div>
        <!-- <img src="img/Derine_LOGO_W.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;"> -->
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <ion-list id="page4-list2">

        <label class="item item-input page4-label" id="page4-label1">
          <span class="input-label login_text">學號 :</span>
          <input id="accountL" class="login_text" type="text" placeholder="" value="1031241104">
        </label>
        
        <label class="item item-input page4-label" id="page4-label2">
          <span class="input-label login_text">密碼 :</span>
          <input id="pwdL" class="login_text" type="password" placeholder="" value="1031241104">
        </label>
        
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <!-- <a ui-sref="menu.derine()"  class="button button-stable button-block">登入</a> -->
      <button class="button button-stable button-block loginSmtBtn" ng-click="loginSmtBtn()">登入</button>
      <button id="page4-button2" class="button button-positive button-block button-clear page4-button2">忘記密碼?</button>
    </form>
  </ion-content>
</ion-view>