<ion-view title="課程任務" id="mission">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header"><div class="maxWidth">

    <div ng-repeat="mission in missions | orderBy:'TimeOut'" class="card">
      <div class="item item-divider">
        <span ng-class="{'MissionType1': mission.type == '隨堂測驗', 'MissionType2': mission.type == '小組討論', 'MissionType3': mission.type == '加分問卷', 'MissionType4': mission.type == '評分'}">
          {{mission.type}}
        </span>
        <span class="timeOutSpan">
          <i class="timeOut"></i>
          {{mission.TimeOut}} 截止
        </span>
      </div>
      <div class="item item_padding0 item-text-wrap" ng-class="{'missionLock1': mission.lock == '1', 'missionLock2': mission.lock == '2', 'missionLock3': mission.lock == '3'}">
        <ul class="list">
          <li class="item">
              <span style="font-size: 25px;">{{mission.Name}}</span>
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +{{mission.Point}}
              </span>
          </li>
          <li class="item">
            <p>{{mission.Content}}</p>
          </li>
          <div ng-show="mission.show" bind-html-compile="mission.HTML"></div>
          <!-- IRS進入按鈕 -->
          <button ng-if="mission.isIRS" class="button button-block button-chanry2" ng-click="GoIRS(mission.missionID,mission.Name,mission.Content)">開始測驗</button>
          <!-- 收合按鈕 -->
          <li class="item">
            <button ng-if="!mission.isIRS" class="button button-small button-chanry1 button-margin" ng-click="missionShow(mission)">{{mission.showMsg}}</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <span class="MissionType5">
          加分小任務
        </span>
        <span class="timeOutSpan">
          <i class="timeOut"></i>
          2020/01/06 截止
        </span>
      </div>
      <div class="item item_padding0 item-text-wrap">
        <ul class="list">
          <li class="item item_paddingRight">
              擁有小組 ({{SmallTask.SmallTask1_schedule}}/1)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +15
              </span>
          </li>
          <li class="item item_paddingRight">
              參與腦力激盪討論 ({{SmallTask.SmallTask2_schedule}}/5)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +10
              </span>
          </li>
          <li class="item item_paddingRight">
              參與腦力激盪討論 ({{SmallTask.SmallTask3_schedule}}/20)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +10
              </span>
          </li>
          <li class="item item_paddingRight">
              按讚腦力激盪 ({{SmallTask.SmallTask4_schedule}}/10)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +5
              </span>
          </li>
          <li class="item item_paddingRight">
              發起投票且結案(投票系統) ({{SmallTask.SmallTask5_schedule}}/1)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +10
              </span>
          </li>
          <li class="item item_paddingRight">
              參與投票且結案(投票系統) ({{SmallTask.SmallTask6_schedule}}/5)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +10
              </span>
          </li>
          <li class="item">
              (限組員)建議提案聚焦 ({{SmallTask.SmallTask7_schedule}}/1)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +10
              </span>
          </li>
          <li class="item">
              (限組長)擔任組長 ({{SmallTask.SmallTask8_schedule}}/1)
              <span class="missionPointSpan">
                <i class="missionPoint"></i>
                +40
              </span>
          </li>
          <li class="item">
            上課點名(每次)
            <span class="missionPointSpan">
              <i class="missionPoint"></i>
              +40
            </span>
          </li>
          <li class="item">
            上課回答(每次)
            <span class="missionPointSpan">
              <i class="missionPoint"></i>
              +1~5
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div></ion-content>
</ion-view>