<ion-view title="課程任務" id="mission">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">
    <div class="card">
        <div class="item item-divider">
          主要功能：
        </div>
        <div class="item item-text-wrap">
          個人化推薦、旅遊資料庫、氣象功能、導航功能、評分功能、翻譯功能、搜尋功能、聊天功能...等。
        </div>
        <div class="item item-divider">
            - 個人化推薦
        </div>
        <div class="item item-text-wrap">
            根據使用者的個人化偏好資料來進行景點或商家的推薦，讓使用者可以獲得更貼近自己需求的旅遊資訊。<br>
            -  {地區}有什麼(“好玩”/“好吃”)的<br>
            -	{地區}有什麼推薦的(“景點”/”店家”)<br>
            -	{地區}有推薦的(“景點”/”店家”)嗎<br>
            地區 可以是 附近/這裡/東區/林邊 等        </div>
        <div class="item item-divider">
            - 旅遊資料庫
        </div>
        <div class="item item-text-wrap">
            旅遊資料庫提供旅遊時產生的各種知識型問題解答，對於尚未設定的回應資料，使用者也可以直接利用搜尋功能來取得任何想知道的答案。<br>
            -	鵬灣跨海大橋有多長<br>
            -	紅毛城建於哪一年<br>
            十一月十五星期幾（智慧判斷）        </div>
        <div class="item item-divider">
            - 氣象功能
        </div>
        <div class="item item-text-wrap">
            讓使用者可以詢問台灣的各縣市區一週內天氣狀況。<br>
            -	{地區}{時間}的天氣如何<br>
            -	{時間}去{地區}需要帶雨傘嗎<br>
            -	{時間}{地區}會不會冷<br>
            時間 可以是 今/明/後天/下週一 等<br>
            地區 可以是 高雄/淡水/台中/鳳山 等        </div>
        <div class="item item-divider">
            - 導航功能
        </div>
        <div class="item item-text-wrap">
            可根據使用者的發問語句去判斷使用者是要導航到單一地點，還是地圖標示全部搜尋結果。<br>
            -	想問一下該怎麼到{關鍵字}<br>
            -	幫我導航到{關鍵字}<br>
            -	附近哪裡有{關鍵字}<br>
            關鍵字 可以是 麥當勞/郵局/火車站        </div>
        <div class="item item-divider">
            - 評分功能
        </div>
        <div class="item item-text-wrap">
            讓使用者直接用對話的方式新增或修改您對於該景點/商家的評分，評分資料會作為推薦系統演算的部分資料來源。<br>
            -	我覺得{商家/景點}{評分語句}<br>
            商家/景點 可以是 小杜包子/大鵬灣 等<br>
            評分語句 可以是 很好/不錯/超無聊 等<br>
            系統會區分各種評分語句分級為1~5分        </div>
        <div class="item item-divider">
            - 翻譯功能
        </div>
        <div class="item item-text-wrap">
            當出遊時遇到外國人或是有不理解的英文時，這時翻譯功能就可派上用場，目前Derine僅提供中轉英翻譯，未來將發展更多語系。<br>
            -	幫我翻譯{欲翻譯語句}<br>
            -	翻譯{欲翻譯語句}<br>
            欲翻譯語句 可以是 很高興認識你 等        </div>
        <div class="item item-divider">
            - 搜尋功能
        </div>
        <div class="item item-text-wrap">
            有些資料想要快速的Google時，只要對Derine說出『幫我搜尋』語句，就可以很快的得到想要搜尋的結果，連打字的時間都省去了。<br>
            -	幫我搜尋{欲搜尋語句}<br>
            -	翻譯{欲搜尋語句}<br>
            欲搜尋語句 可以是 今天的股市 等        </div>
        <div class="item item-divider">
            - 聊天功能
        </div>
        <div class="item item-text-wrap">
            當然，即便擁有多方面的輔助功能，不會彈性與自然的與使用者對話的話，就不能說是一個『聊天機器人』，聊天功能可以讓Derine更貼近使用者，讓使用者感到親切與有趣。<br>
            -	你有兄弟姊妹嗎<br>
            -	你有什麼功能呢        </div>
        </div>
        <div class="item item-text-wrap">
        其他還有『音樂/影片搜尋播放』『問現在地點』『問日期』等功能，就等著各位去摸索囉。
        </div>
  </ion-content>
</ion-view>