<ion-view title="註冊" id="page6">
  <ion-content padding="true" scroll="false" class="has-header">
    <form id="page6-form2" class="list">
      <ion-list id="page6-list3">

        <div class="item item-divider">
          基本資料
        </div>

        <label class="item item-input" id="page6-label1">
          <span class="input-label">暱稱</span>
          <input id="page6-input1" type="text" placeholder="">
        </label>

        <label class="item item-input" id="page6-label2">
          <span class="input-label">信箱</span>
          <input id="page6-input2" type="email" placeholder="">
        </label>

        <label class="item item-input" id="page6-label3">
          <span class="input-label">密碼</span>
          <input id="page6-input3" type="password" placeholder="">
        </label>

        <label class="item item-input" id="page6-label4">
          <span class="input-label">確認密碼</span>
          <input id="page6-input4" type="password" placeholder="">
        </label>
        - 密碼請至少6字以上。
        <p> <br> </p>

        <div class="item item-divider">
          大頭貼照(選填)
        </div>
        <input id="page6-uploadFileInput" type="file" accept="image/*">            
        
      </ion-list>
      <button id="page6-button1" class="button button-dark button-block">註冊</button>
    </form>
  </ion-content>
</ion-view>