<ion-view title="登入" hide-nav-bar="true" id="page4">
  <ion-content style="background: url(img/002.jpg) no-repeat center;background-size:cover;padding:60px; " class="manual-ios-statusbar-padding" scroll="false">
    <form id="page4-form1" class="list">
      <div class="spacer" style="height: 30px;"></div>
      <div>
        <img src="img/Derine_LOGO_W.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 30px;"></div>
      <ion-list id="page4-list2">
        <label class="item item-input" id="page4-label1">
          <span id="page4-span1" class="input-label">Email :</span>
          <input id="page4-input1" type="email" placeholder="">
        </label>
        <label class="item item-input" id="page4-label2">
          <span id="page4-span2" class="input-label">Password :</span>
          <input id="page4-input2" type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
      <!-- <a ui-sref="menu.derine()"  class="button button-stable button-block">登入</a> -->
      <button id="page4-button1" class="button button-stable button-block">登入</button>
      <a ui-sref="page6()" id="page4-button3" class="button button-block">註冊</a>
      <button id="page4-button2" class="button button-positive button-block button-clear">忘記密碼?</button>
    </form>
  </ion-content>
</ion-view>