<ion-view title="歡迎頁面" hide-nav-bar="true" id="page5">
  <ion-content class="manual-ios-statusbar-padding" scroll="false" style="padding-top:0px;">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="page5-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;">
      <ion-slide-page id="page5-slide24" style="background:url(&quot;img/welcome-1.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide25" style="background:url(&quot;img/welcome-2.png&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="page5-slide26" style="background:url(&quot;img/welcome-3.png&quot;) no-repeat center;background-size:cover;">
        <a ui-sref="page4()" id="page5-button4" class="button button-stable button-block" >開始體驗</a>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>