<ion-view title="首頁" hide-back-button="true" id="pbl">
  <ion-content padding="false" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header" scroll="false">
    
    <div ng-repeat="item in items" class="card">
      <div class="item item-divider">
        <ion-icon name="notifications"></ion-icon>
        課程公告：
      </div>
      <div class="item item-text-wrap" id="co-writing_content">
        {{item.ClassContent}}
      </div>
    </div>

      <div class="pbl-member" ng-repeat="member in members">
        <div ng-class="{true:'pbl-leader pbl-img-div',false:'pbl-img-div'}[{{member.leader}}]">
          <img id="pbl-img" ng-src="{{member.memberImg}}">
        </div>
        <span class="pbl-member-span">{{member.memberName}}</span>
      </div>

      <!-- <div class="pbl-member">
        <div class="pbl-img-div">
          <img id="pbl-img">
        </div>
        <span class="pbl-member-span">邀請</span>
      </div> -->
    
    <div ng-show="LockGroupShow" >
      <button class = "button button-block button-balanced pbl-button" ng-show="addGroupShow" ng-click="addGroup()">創立小組</button>
      <button class = "button button-block button-assertive pbl-button" ng-show="delGroupShow" ng-click="delGroup('del')">解散小組</button>
      <button class = "button button-block button-assertive pbl-button" ng-show="quitGroupShow" ng-click="delGroup('quit')">退出小組</button>
    </div>
  </ion-content>
</ion-view>