<ion-view title="首頁" hide-back-button="true" id="pbl">
  <ion-content padding="false" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header" scroll="true"><div class="maxWidth">
      <div class="pbl-member" ng-repeat="member in members | orderBy:'memberName'">
        <div ng-class="{true:'pbl-leader pbl-img-div',false:'pbl-img-div'}[{{member.leader}}]">
          <img id="pbl-img" ng-src="{{member.memberImg}}">
        </div>
        <div class="pbl-member-span">{{member.memberName}}</div>
      </div>

      <div ng-repeat="item in items" class="card">
        <div class="item item-divider">
          成績查詢：
        </div>
        <div class="item item-text-wrap">
          <div class="row">
            <div class="col">期中考：-</div>
            <div class="col">期末考：-</div>
            <div class="col">平時：-</div>
          </div>
          <p>計算：期中30%+期末30%+平時40%(點數+討論)</p>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          下週任務(11/04)：
        </div>
        <div class="item item-text-wrap">
          <div class="row">期中考（上機考）考試地點預計3401、填寫PBL問卷</div>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">
          點數排行榜：
        </div>
        <div class="row" style="padding: 0px 16px 0px 16px;">
          <div class="col pbl-member mission-member" ng-repeat="PointTop in PointTops | orderBy:'Point'">
            <div class="pbl-img-div mission-img-div">
                <img id="pbl-img" ng-src="{{PointTop.Img}}">
            </div>
            <div class="pbl-member-span mission-member-span">{{PointTop.Name}}</div>
            <div class="pbl-member-span mission-member-span">{{PointTop.Point}}點</div>
          </div>
        </div>
      </div>

      <div ng-repeat="item in items" class="card">
        <div class="item item-divider">
          【{{item.ClassName}}】課程說明：
        </div>
        <div class="item item-text-wrap" bind-html-compile="item.ClassContent"></div>
      </div>

      <div class="spacer" style="height: 40px;"></div>
  </div></ion-content>

  <div ng-if="LockGroupShow" >
    <div class="button-bar pbl-button" ng-if="leaderGroupShow">
      <a class="button button-block button-chanry1" ng-click="addGroup('invite')">邀請</a>
      <a class="button button-block button-chanry2" ng-click="delGroup('del')">解散小組</a>
    </div>
    <button class = "button button-block button-chanry1 pbl-button" ng-if="addGroupShow" ng-click="addGroup('add')">創立小組</button>
    <button class = "button button-block button-chanry2 pbl-button" ng-if="quitGroupShow" ng-click="delGroup('quit')">退出小組</button>
  </div>
</ion-view>