<ion-view title="提案聚焦" hide-back-button="true" id="proposal">
  <ion-content padding="false" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header" scroll="true">
    
    <div class="col proposal_card" ng-repeat="item in items">
      <div class="item item-divider">
        提案：【{{item.ProposalName}}】
        <i class="proposal_AddProposalBtn" ng-click="AddProposal('Invite',item.time)" ng-if="leaderGroupShow"></i>
        <i class="proposal_DelProposalBtn" ng-click="DelProposal(item.time)" ng-if="leaderGroupShow"></i>
      </div>
      <div ng-repeat="brainstorming in item.brainstorming" class="item item-text-wrap proposal_item">
          {{brainstorming.msg}}
          <i class="proposal_DelBrainstormingBtn" ng-click="" ng-if="leaderGroupShow"></i>
      </div>
    </div>

    <!-- 空格 -->
    <div class="spacer" style="height: 135px;"></div>
  </ion-content>

    <div class="AddBall" ng-click="AddProposal('Add')" ng-if="leaderGroupShow">+</div>

</ion-view>