<ion-view title="提案聚焦" hide-back-button="true" id="proposal">
  <ion-content padding="false" style="background: url(img/001.png) no-repeat center;background-size:cover;" class="has-header" scroll="true">
    
      <div class="row">
        <div class="col proposal_card">
          <div class="item item-divider">
            花東二日遊：
          </div>
          <div class="item item-text-wrap">
            1<br>2<br>3<br>4
          </div>
        </div>
        
        <div class="col proposal_card">
          <div class="item item-divider">
            花東二日遊：
          </div>
          <div class="item item-text-wrap">
            1<br>2<br>3<br>4
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col proposal_card">
            <div class="item item-divider">
              花東二日遊：
            </div>
            <div class="item item-text-wrap">
              1<br>2<br>3<br>4
            </div>
          </div>
          
          <div class="col proposal_card">
            <div class="item item-divider">
              花東二日遊：
            </div>
            <div class="item item-text-wrap">
              1<br>2<br>3<br>4
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col proposal_card">
            <div class="item item-divider">
              花東二日遊：
            </div>
            <div class="item item-text-wrap">
              1<br>2<br>3<br>4
            </div>
          </div>
          
          <div class="col proposal_card">
            <div class="item item-divider">
              花東二日遊：
            </div>
            <div class="item item-text-wrap">
              1<br>2<br>3<br>4
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col proposal_card">
            <div class="item item-divider">
              花東二日遊：
            </div>
            <div class="item item-text-wrap">
              1<br>2<br>3<br>4
            </div>
          </div>
          
          <div class="col proposal_card">
            <div class="item item-divider">
              花東二日遊：
            </div>
            <div class="item item-text-wrap">
              1<br>2<br>3<br>4
            </div>
          </div>
        </div>
          

      <!-- 空格 -->
      <div class="spacer" style="height: 135px;"></div>
  </ion-content>

    <div class="list list-footer">
      <div class="item item-divider">
        尚未分類的腦力激盪
      </div>
      <div class="item">
        AA:潛水 BB:小吃 CC:南臺灣 DD:水上樂園 EE:泡溫泉 FF:二天一夜
      </div>
    </div>

    <div class="AddBall">+</div>

    <div class="bar bar-footer bar-dark">
      <div class="title">儲存</div>
    </div>
</ion-view>