<ion-view title="設定" id="setting">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">
    <!-- <ul class="list">

      <li class="item item-toggle">
        設定1
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        設定2
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        設定3
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        設定4
        <label class="toggle toggle-assertive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <div class="item range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume">
        <i class="icon ion-volume-high"></i>
      </div>
        
      <div class="list">
        <div class="item range range-positive">
          <i class="icon ion-ios-sunny-outline"></i>
          <input type="range" name="volume" min="0" max="100" value="33">
          <i class="icon ion-ios-sunny"></i>
        </div>
      </div> -->

      <div class="card">
        <div class="item item-divider">修改密碼：</div>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="原密碼">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="新密碼">
          </label>
        </div>
        <button id="page7_savebtn3" class="button button-block button-dark">修改密碼</button>
      </div>
      
      <div class="card">
        <div class="item item-divider">修改暱稱：</div>
        <div class="list list-inset">
          <label class="item item-input">
            <input id="uploadFileInput1" type="text" placeholder="新暱稱">
          </label>
        </div>
        <button id="page7_savebtn1" class="button button-block button-dark">修改暱稱</button>
      </div>
      
      <div class="card">
        <div class="item item-divider">修改照片：</div>
        <input id="uploadFileInput2" type="file" accept="image/*">            
        <button id="page7_savebtn2" class="button button-block button-dark">上傳</button>
      </div>
      
    <!-- </ul> -->
  </ion-content>
</ion-view>