<ion-view title="設定" id="setting">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header">

      <div class="card">
        <div class="item item-divider">修改密碼：</div>
        <div class="item">
          <button ng-click="Passward()" class="button button-block button-chanry1">寄送密碼重置信</button>
        </div>
      </div>
      
      <div class="card">
        <div class="item item-divider">修改照片：</div>
        <div class="padding">
            <input id="uploadFileInput2" type="file" accept="image/*">           
        </div>
        <div class="cropArea">
          <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
        </div>
        <div class="item">
          <button ng-click="ChangeImg(myCroppedImage)" class="button button-block button-chanry1">上傳</button>
        </div>
      </div>

      <div class="card">
          <div class="item item-divider">BUG回報or建議：</div>
          <h5 class="padding">視BUG狀況可能給予加分。</h5>
          <label class="item-input">
            <input type="text" placeholder="請在此輸入...">
          </label>
          <div class="item">
            <button id="page7_savebtn3" class="button button-block button-chanry1">送出</button>
          </div>
        </div>
      
  </ion-content>
</ion-view>