<ion-view title="設定" id="setting">
  <ion-content padding="true" style="background: url(img/001.png) no-repeat center;background-size:cover;" scroll="true" class="has-header"><div class="maxWidth">

      <div class="card">
        <div class="item item-divider">修改密碼：</div>
        <div class="item">
          <button ng-click="Passward()" class="button button-block button-chanry1">寄送密碼重置信</button>
        </div>
      </div>
      
      <div class="card">
        <div class="item item-divider">修改照片：</div>
        <div class="padding">
            <input id="uploadFileInput2" type="file" accept="image/*">           
        </div>
        <div class="cropArea">
          <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
        </div>
        <div class="item">
          <button ng-click="ChangeImg(myCroppedImage)" class="button button-block button-chanry1">上傳</button>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">BUG回報or建議：</div>
        <label class="item item-input item-input">
          <textarea cols="50" rows="5" ng-model="Bug" placeholder="請在此輸入(視BUG狀況可能給予加分)..."></textarea>
        </label>
        <div class="item">
          <button ng-click="BugBtn(Bug)" class="button button-block button-chanry1">送出</button>
        </div>
      </div>

      <div class="card">
        <div class="item item-divider">系統更新資訊：</div>
        <div class="item item-text-wrap">
          <span style="color: red;">v 1.1.0 2019/10/06</span><br>
          -開放點數功能<br>
          -新增點數歷程記錄<br>
          -新增點數加密與偵測異常加分<br>
          -新增教師版後台點數管理頁面<br>
          -修改選擇課程圖片<br>
          -修正腦力激盪點擊分頁自動置底<br>
          -修正投票排序（提案聚焦建議投票）<br>
          -修正重複加入小組問題<br>
          -修正腦力激盪底部height<br>
          -修正首頁底部height<br>
          -修正首頁成績計算打錯<br>
          -修正任務回傳欄位清空<br>

          <br>針對建議回應(所有建議者皆有斟酌加分)：<br>
          Q 可以增設一個暱稱<br>
          A 之前有用，被老師駁回(小聲...)<br><br>

          Q 怎麼不做成APP<br>
          A <br><br>

          Q 無法複製<br>
          A 是指自己打的字還是別人的訊息無法複製?<br><br>

          Q 同樣的人在小組出現三次<br>
          Q 我們小組顯示有異常<br>
          Q 小組顯示<br>
          Q 組員重複出現<br>
          Q 同樣的組員出現三次<br>
          Q 有很多一樣名稱的組員<br>
          A 重複邀請/加入導致，已經修復了😅 感謝<br><br>

          Q 提案聚焦如果標題先打了，然後在下去勾選會每次勾選之後都自動跳到輸入提案標題的欄位<br>
          A <br><br>

          Q 希望腦力激盪的打字的視窗不會在傳送完過後就自己收起來<br>
          A <br><br>

          Q 無法換行<br>
          Q 沒有換行鍵<br>
          A <br><br>

          Q 投票可以有多種選項<br>
          A 有列入考慮，之後可能會增加<br><br>

          Q 投票系統5票投完在結束避免有人猶豫或者按錯造成投票結束<br>

          Q 投票無法刪除<br>

          Q 左上角選單「三」有時候會消失<br>
          Q 案上一頁之後左上角功能鍵會消失<br>
          A 如果漢堡有消失重新整理頁面就會出現了，這目前是框架問題，建議先不要用瀏覽器的上一頁功能<br><br>

          Q 超連結無效<br>

          Q 問題沒辦法新增圖片<br>
          A 留言版嗎，之後版本會考慮加入 謝謝👍<br><br>

          Q 更新照片有時候會當掉<br>
          Q 照片換很多次才成功<br>
          A 可以給一下手機型號與版本嗎，我i6s ios13測試正常<br><br>

          Q 1.投票不能刪除 可分成匿名不匿名<br>

          Q 2.腦力激盪最上面 組長可以設立一個腦力激盪的主題<br>

          Q 3.超連結不能執行<br>
          
          Q 提案聚集按鈕不直觀<br>
          A 是指標題列的功能按鈕嗎，能給予icon建議嗎<br><br>

          Q 沒遇到什麼問題<br>
          A 好的😅 也感謝你回報<br><br>

          Q 感覺全班的留言板應該可以匿名，然後腦力激盪的部分（組別討論）應該可以公開姓名<br>
          A 這部份有和老師討論，全班留言版是可以加開匿名版，不過腦力激盪因為要激發大家表達意見，匿名能減少人際關係產生的干擾變數<br><br>

          Q iOS 系統往右滑會返回上一頁沒辦法開啟列表<br>
          A 個人測試ios13 safari和chrome都可以右滑出現選單，不過如果是從畫面最左邊開始滑確實會變上一頁，建議從畫面中間開始滑就好了<br><br>

          Q 第一 討論的內容沒有手機跳屏顯示 這樣就不知道大家何時討論啊<br>

          Q 第二投票過半就算過了？如果有人一直沒投這投票不就是投到天荒地老了 而且投票也沒提醒@誰知道何時要投票啊<br>

          Q 腦力激盪同時有多個討論再進行時，如果其中一個討論串點一下會回到第一則留言，而其他討論串也會同時跑到第一則留言<br>
          A 感謝 這個細節我沒發現🤔，目前已經修正了，統一換分頁置底<br><br>


          <br><span style="color: red;">v 1.0.0 2019/09/29</span><br>
          -正式版發佈<br>
        </div>
      </div>
      
    </div></ion-content>
</ion-view>